@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Mono:wght@500&display=swap');

section {
    padding: 100px 0;
}

.golden-pill {
    color: #fff;
    font-family: Nunito;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0.7857142686843872px;
    text-align: center;
    padding: 10px 2em;
    background: #F8CC5E;
    border-radius: 50px;
}

.main-btn {
    background: #6C22D2;
    border: unset;
    outline: unset;
    padding: 0.8em 2em;
    font-family: Nunito;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.46px;
    letter-spacing: 1.0714285373687744px;
    color: #fff;
}

.main-btn-yellow {
    background: #F8CC5E;
    border: unset;
    outline: unset;
    padding: 0.8em 2em;
    font-family: Nunito;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.46px;
    letter-spacing: 1.0714285373687744px;
    color: #fff;
}

.secondary-section-heading {
    font-family: Nunito;
    font-size: 32px;
    font-weight: 400;
    line-height: 42px;
    letter-spacing: 1.2000000476837158px;
    color: #6C22D2;
}

.section-heading {
    font-family: Nunito;
    font-size: 32px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 1.2000000476837158px;
}

.section-para {
    font-family: Nunito;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.6000000238418579px;
}

/* Navbar */

.nav-item a {
    color: #77838F;
    transition: 0.2s ease-in;
    font-family: Nunito;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.82px;
    letter-spacing: 1.2000000476837158px;
    text-align: left;
}

.nav-item a:hover {
    text-decoration: none;
    color: #6217C4;
}

/* Hero Section */

.hero-section {
    background: url('../img//Home/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}

.hero-head {
    font-family: Nunito;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 1.4249999523162842px;
    text-align: center;
}

.hero-desc {
    font-family: Nunito;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.6000000238418579px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.hero-btn-left {
    font-family: Nunito;
    background: #F8CC5E;
    color: #fff;
    padding: 0.5em 2em;
    margin-right: 10px;
    outline: none;
    border: unset;
}

.hero-btn-right {
    font-family: Nunito;
    background: #fff;
    color: #F8CC5E;
    padding: 0.5em 2em;
    border: unset;
    outline: unset;
}

/* Domain Search */

.domain-search-section {
    padding: 0;
}

.domain-search-wrapper {
    padding: 1em;
    margin-top: -50px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 48px 0px #0000000F;
}

.domain-search-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #D5DAE2
}

.domain-search-btn {
    background: #6C22D2;
    color: #fff;
    padding: 10px;
    border: unset;
    outline: unset;
}

.domain-result-title {
    font-family: Nunito;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 1.4249999523162842px;
}

.domain-result-wrapper {
    padding: 0.5em 1em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 48px 0px #0000000F;
}

/* Support Section */

.support-section {
    background: url('../img/support/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.support-head {
    font-family: Nunito;
    font-size: 55px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 2px;
    color: #fff;
}

/* Plans section */

.plan-item {
    padding: 1em
}

.plan-size {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.6000000238418579px;
    color: #6217C4
}

.plan-size-yellow {
    font-family: Nunito;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.6000000238418579px;
    color: #F8CC5E
}

.plan-price {
    font-family: Nunito;
    font-size: 60px;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: 2.25px;
}

.plan-desc {
    font-family: Nunito;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.6000000238418579px;
    color: #77838F;
}

.plan-btn {
    background: rgba(108, 34, 210, 0.3);
    border: unset;
    outline: unset;
    padding: 0.8em 2em;
    font-family: Nunito;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.46px;
    letter-spacing: 1.0714285373687744px;
    border-radius: 5px;
    color: #6217C4;
}

.plan-btn-yellow {
    background: rgba(248, 204, 94, 0.3);
    border: unset;
    outline: unset;
    padding: 0.8em 2em;
    font-family: Nunito;
    font-size: 15px;
    font-weight: 600;
    line-height: 20.46px;
    letter-spacing: 1.0714285373687744px;
    border-radius: 5px;
    color: #F8CC5E;
}